body {
  color: white;
  background-color: black;
}
.image-button {
  /* Set the height of the images to 50px */
  height: 50px;
}

h1 {
  color: white;
}

.orange-button {
  background-color: orange;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  /* Set the transition for the background color */
  transition: background-color 400ms;
  cursor: pointer;
}

.move-button:hover {
  background-color: white;
}

.result {
  /* Set the font size to 25px */
  font-size: 25px;
  /* Make the font bold */
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 50px;
}

.reset-button {
  background-color: white;
  padding: 8px 15px;
  /* Remove the border of the button */
  border: none;
  cursor: pointer;
  /* Set the font size to 15px */
  font-size: 15px;
  color: black;
}

