.JavaScript-logo {
  margin-left: 50px;
  background-image: url("https://github.com/advik01-byte");
  transition: opacity 150ms;
}

.JavaScript-logo:hover {
  opacity: 0.8;
}

.JavaScript-logo:active {
  opacity: 0.6;
}
